<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<body>

<div ng-app="myApp" ng-controller="myCtrl">
    <p>First Name : <input type="text" ng-model="firstName"></p>
    <p>Last Name : <input type="text" ng-model="lastName"></p>
    <br>
    Full Naame: {{firstName + " " + lastName}}

    <p>Angular expression (5+5): {{ 5 + 5 }}</p>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope) {
        $scope.firstName = "John";
        $scope.lastName = "Doe";
    })
</script>

</body>
</html>